@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.change {
  width: 100%;
  height: 100vh;
  @include flexCenter;
  &__container {
    padding: $font_xlarge 0;
    width: 35%;
    @include flexColumnACenter;
    background:#0e419d;
    border-radius: $font_xverysmall;
    // background: linear-gradient(150deg, #3997ef, #004cf1 100%);
  }
  &__header {
    width: 80%;
    &__container {
      text-align: start;
      padding: 0 0 $font_xlarge 0;
      h2 {
        font-size: $font_xlarge;
        color: $primary_white;
        padding: 0 0 $font_xsmall 0;
      }
      p {
        font-size: $font_xsmall;
        color: $primary_white;
      }
    }
  }
  &__form {
    width: 80%;
    @include flexJCenter;
    &__container {
      width: 100%;
      @include flexColumnACenter;
    }
  }
  &__input {
    width: 100%;
    padding: 0 0 $font_button 0;
    position: relative;
    display: flex;
    input {
      width: 100%;
      padding: $font_verysmall 0 $font_verysmall $font_xsmall;
      border-radius: $font_xverysmall;
      border: 1px solid $primary_grey;
      font-size: $font_xsmall;
      color: $grey_input;
      height: fit-content;
      outline: none;
    }
    &__icon {
      position: absolute;
      right: $font_xsmall;
      top: $font_small;
      font-size: $font_xsmall;
      cursor: pointer;
    }
  }
  &__forgot {
    width: 80%;
    @include flexJEnd;
    padding: 0 0 $font_xsmall 0;
    span {
        font-size: $font_xsmall;
        text-decoration: underline;
        color: $primary_white;
    }
  }
  &__change {
    width: 80%;
    @include flexJStart;
    padding: 0 0 $font_xsmall 0;
   
    span {
        font-size: $font_xsmall;
        text-decoration: underline;
        color: $primary_white;
    }
  }
  &__button {
    width:100%;
    padding: $font_xsmall;
    display: flex;
    justify-content: space-evenly;
    button {
      width: $font_top5;
      padding: $font_verysmall 0;
      font-size: $font_verysmall;
      font-weight: 600;
      border: none;
      border-radius: $font_xverysmall;
      color: $primary_black;
      background: $primary_white;
      cursor: pointer;
    }
    button:hover {
      background: $primary_black;
      color: $primary_white;
    }
    button:disabled {
      color: $primary_white;
      background: $grey_input;
      cursor: not-allowed;
    }
    .change-btn.active {
      border-color: #ffffff;
      box-shadow: 0 0 10px #ffffff;
    }
  }
}


@media screen and (max-width: 760px) {
    .login {
        &__container {
            width: 80%;
            padding: $font_top9 0;
            border-radius: $font_xxlarge;
        }
        &__header {
            &__container {
                h2 {
                    font-size: $font_top7;
                    padding: 0 0 $font_top10 0;
                }
                p {
                    font-size: $font_top10;
                    padding: 0 0 $font_top10 0;
                }
            }
        }
        &__input {
            padding: 0 0 $font_top10 0;
            input {
                padding: $font_top10 0 $font_top10 $font_top9;
                font-size: 3.4vw;
                border-radius: $font_xxlarge;
            }
            &__icon {
                font-size: $font_top9;
                top: $font_top10;
                right: $font_top10;
            }
        }
        &__change {
            padding: 0 0 $font_top10 0;
            span {
                font-size: $font_top10;
            }
        }
        &__forgot {
            padding: 0 0 $font_top10 0;
            span {
                font-size: $font_top10;
            }
        }
        &__button {
            button {
                padding: $font_top10 0;
                width: 30vw;
                font-size: $font_top10;
                border-radius: $font_xxlarge;
            }
        }
    }
}

@media screen and (min-width:761px) and (max-width:1020px) {
    .login {
        &__container {
            width: 50%;
            border-radius: $font_small;
        }
        &__header {
            &__container {
                h2 {
                    font-size: $font_top10;
                    padding: 0 0 $font_button 0;
                }
                p {
                    font-size: $font_large;
                    padding: 0 0 $font_button 0;
                }
            }
        }
        &__input {
            padding: 0 0 $font_button 0;
            input {
                padding: $font_button 0 $font_button $font_top10;
                font-size: $font_button;
                border-radius: $font_small;
            }
            &__icon {
                font-size: $font_xlarge;
                top: $font_regular;
                right: $font_regular;
            }
        }
        &__forgot {
            padding: 0 0 $font_button 0;
            span {
                font-size: $font_regular;
            }
        }
        &__change {
            padding: 0 0 $font_button 0;
            span {
                font-size: $font_regular;
            }
        }
        &__button {
            button {
                padding: $font_button 0;
                width: 20vw;
                font-size: $font_regular;
                border-radius: $font_small;
            }
        }
    }
}