@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  display: flex;
  &__container {
    display: flex;
    justify-content: space-between;
    width: 14vw;
    &__data {
      p {
        font-size: $font_verysmall;
        color: $font_grey;
        font-weight: 400;
      }
    }
    &__profile {
      img {
        width: 3vw;
      }
    }
  }
}
